# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Django
db.sqlite3
*.sqlite3
media/

# Environment variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

